ion-header{
    display:flex;
    align-items: center;
    img {
        width: 100px;
        border-radius: 50%;
    }
}

ion-content {
    ion-input {
        height: 80px;
    }

    a{
        text-decoration: none;
        height: 80px;
    }
}

#container a {
    text-decoration: none;
  }