<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img src="./assets/LogoDef.JPG" alt="">
      <h1>Bienvenido {{user}}!</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="container">
        <a href="">
          <ion-item>
            <ion-icon name="wallet"></ion-icon> Wallet
          </ion-item>
        </a>
        <a href="">      
          <ion-item>
            <ion-icon name="car"></ion-icon> Movilización 
          </ion-item>
        </a>
        <a href="">
          <ion-item>          
            <ion-icon name="mail"></ion-icon> Mensajes 
          </ion-item>
        </a>
        <a href="">
          <ion-item>
            <ion-icon name="settings"></ion-icon> Configuración
          </ion-item>
        </a>
        <a href="">
          <ion-item>
            <ion-icon name="help"></ion-icon> Ayuda
          </ion-item>
        </a>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-icon name="menu"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>