<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img [src]="userImage" alt="User Image">
      <h1>Bienvenido {{user}}!</h1>
      <ion-button *ngIf="canViewUsers" (click)="users()">Ver Usuarios</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <div class="container">
        <div class="horizontal-items">
          <a (click)="map()">
            <ion-item>
              <img class="icon" src="/assets/gato_map.png"> Map
            </ion-item>
          </a>
          <a href="">
            <ion-item>
              <img class="icon" src="/assets/gato_wallet.png"> Wallet
            </ion-item>
          </a>
        </div>
          <div class="vertical-items">
        <a href="">      
          <ion-item>
            <img class="icon" src="/assets/gato_goat.png"> Viaje 
          </ion-item>
        </a>
        <a href="">
          <ion-item>          
            <img class="icon" src="/assets/gato_msg.png"> Mensajes 
          </ion-item>
        </a>
        <a href="">
          <ion-item>
            <img class="icon" src="/assets/gato_cong.png"> Ayuda
          </ion-item>
        </a>
        <a>
          <ion-item button (click)="logout()">
            <ion-icon name="log-out"></ion-icon> Cerrar sesión
          </ion-item>
        </a>
        </div>
      </div>

  <div class="footer">
    made by Laffy, bupsidu and Naferyh 
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-icon name="settings"></ion-icon>
        Configuración
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>