<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recuperar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
      <h2>Olvidaste tu contraseña?</h2>
      <ion-input value="{{user}}">Ingresa tu usuario</ion-input>
      <ion-button (click)=recuperar()>Recuperar</ion-button>
    </ion-card>
  </div>
</ion-content>
