html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: 'Comic Sans MS';
    background-color: #143642;
    --background: #605856;
  }

img {
  width: 50px;
}

ion-content {
  --background: #605856;
}