<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <img src="./assets/LogoDef.JPG" alt="Logo">

  <div id="container">
    <ion-card>
      <h2>Bienvenido!</h2>
        <ion-item>
          <ion-input [(ngModel)]="user.username" label="Usuario" labelPlacement="stacked" placeholder="Ingrese su usuario" maxlength="8" minlength="3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="stacked"
            placeholder="Ingrese su contraseña">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{mensaje}}</ion-label>
        </ion-item>
        <ion-button (click)="login()">Ingresar</ion-button>
        <br>
        <a (click)="register()">Crea tu cuenta</a>
    </ion-card>
  </div>
</ion-content>