<app-header></app-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <ion-card id="iniciar" *ngIf="!isLoading">
      <img src="./assets/LogoDef.JPG" alt="">
      <h2>Bienvenido!</h2>
        <ion-item>
          <ion-input [(ngModel)]="user.username" label="Usuario" fill="solid" labelPlacement="stacked" placeholder="Ingrese su usuario" maxlength="8" minlength="3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="stacked"
            placeholder="Ingrese su contraseña">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <a (click)="recuperar()">Olvidaste tu contraseña?</a>
        <ion-label>{{mensaje}}</ion-label>
        <br>
        <ion-button (click)="login()">Ingresar</ion-button>
        <br>
        <a (click)="register()">Crea tu cuenta</a>
    </ion-card>
    <ion-card id="cargando" *ngIf="isLoading">
      <img [src]="images[currentImageIndex]" alt="">
      <h2>Iniciando sesión...</h2>
    </ion-card>
  </div>
</ion-content>