<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <h2>Registrate!</h2>
          <ion-input [(ngModel)]="user.email" fill="solid" placeholder="Correo" type="email"></ion-input>
        <ion-item>
          <ion-input [(ngModel)]="user.name" fill="solid" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.lastname" fill="solid" placeholder="Apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.username" fill="solid" placeholder="Nombre de usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.password" fill="solid" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.password2" fill="solid" placeholder="Confirma tu contraseña" type="password"></ion-input>
        </ion-item>
        <ion-label>{{mensaje}}</ion-label>
        <ion-button (click)=registrar()>Registrarse</ion-button>
    </ion-card>
  </div>
</ion-content>
